@-webkit-keyframes appearFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes appearFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-webkit-keyframes appearFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-webkit-keyframes navBarBefore {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

@keyframes navBarBefore {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

@-webkit-keyframes contactMenu {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}

@keyframes contactMenu {
  from {
    width: 0;
  }
  to {
    width: 270px;
  }
}

@-webkit-keyframes contactMenuBf {
  from {
    width: 0;
  }
  to {
    width: 270px;
    opacity: 0;
  }
}

@keyframes contactMenuBf {
  from {
    width: 0;
  }
  to {
    width: 270px;
    opacity: 0;
  }
}

@-webkit-keyframes removeColor {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}

@keyframes removeColor {
  from {
    width: 100%;
  }
  to {
    width: 0px;
  }
}

@-webkit-keyframes appearOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loadingScreen {
  from {
    width: 0;
  }
  15% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  to {
    width: 0;
  }
}

@keyframes loadingScreen {
  from {
    width: 0;
  }
  15% {
    width: 100vw;
  }
  80% {
    width: 100vw;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes loadingScreenBefore {
  from {
    width: 0;
  }
  15% {
    width: 100vw;
  }
  90% {
    width: 100vw;
  }
  to {
    width: 0;
  }
}

@keyframes loadingScreenBefore {
  from {
    width: 0;
  }
  15% {
    width: 100vw;
  }
  90% {
    width: 100vw;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes growUp {
  from {
    height: 0;
  }
  50% {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes growUp {
  from {
    height: 0;
  }
  50% {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes growOutside {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes growOutside {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes growPermanent {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes growPermanent {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cardAppear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cardAppear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*# sourceMappingURL=animations.css.map */